<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AI_ImageRes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AI_ImageRes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AI_ImageRes.Properties.Settings>
            <setting name="WelcomeStart" serializeAs="String">
                <value>0</value>
            </setting>
        </AI_ImageRes.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AI_ImageRes.Properties.Settings>
            <setting name="WelcomeMessage" serializeAs="String">
                <value>Привет! Это чёртов ИИ, AI называй как хочешь. Он обучен на моделях Машины, Человка, Собаки и Кошки. 
Распознаёт падла и даёт вердикт кто на картинке. 
Был обучен при помощи 40 картинок каждого типа. 
Это первая итерация программы и ИИ. Данное сообщение вылазить больше не будет.

Вот тебе и терминатор будующий!


2023©РоманКощеев</value>
            </setting>
        </AI_ImageRes.Properties.Settings>
    </applicationSettings>
</configuration>